{% extends 'base.html' %}

{% block title %}
Expense Categories
{% endblock title %}

{% block content %}
<main>
    <h1>Expense Categories</h1>
    <table>
        <thead>
            <th>Category</th>
            <th>Number of receipts</th>
        </thead>
        <tbody>
            {% for category in category_list %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.receipts.all|length }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}   