{% extends 'base.html' %}

{% block title %}
receipts
{% endblock title %}

{% block content %}
<main>
    <h1>My Receipts</h1>
    <table>
        <thead>
            <th>Vendor</th>
            <th>Total</th>
            <th>Tax</th>
            <th>Date: {{ receipt_object.date|date:"n/d/y" }}</th>
            <th>Category</th>
            <th>Account</th>
        </thead>
        <tbody>
            {% for receipt in home.all %}
                <tr>
                    <td>{{ receipt.vendor }}</td>
                    <td>{{ receipt.total }}</td>
                    <td>{{ receipt.tax }}</td>
                    <td>{{ receipt.date|date:"n/d/y" }}</td>
                    <td>{{ receipt.category.name }}</td>
                    <td>{{ receipt.account.name}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}    
